---
import Layout from '../layouts/Layout.astro';
import Tapas from '../components/Tapas.astro';
import MenuItem from '../components/MenuItem.astro' ;
---

<Layout title="El Rincón del Bocata | Restaurante ">
    <main class="mt-16">
        <nav>
            <ul>
                <MenuItem nombre="bravas" , url="/test" , imagen="bravas.jpg" />
                <MenuItem nombre="ensaladas" , url="/ensaladas" , imagen="ensaladas.jpg" />
                <MenuItem nombre="torraetas" , url="/torraetas" , imagen="torraetas.jpg" />
                <MenuItem nombre="sandwiches" , url="/sandwiches" , imagen="sandwiches.jpg" />
                <MenuItem nombre="hamburguesas" , url="/hamburguesas" , imagen="hamburguesas.jpg" />
                <MenuItem nombre="bocadillos" , url="/bocadillos" , imagen="bocadillos.jpg" />
                <MenuItem nombre="platos combinados" , url="/platoscombinados" , imagen="platoscombinados.jpg" />
                <MenuItem nombre="comida vegetariana / vegana" , url="/comidav" , imagen="comidav.jpg" />
            </ul>
        </nav>
        
    </main>
</Layout>
