---
import Layout from '../layouts/Layout.astro';
import Tapas from '../components/Tapas.astro';
import MenuItem from '../components/MenuItem.astro' ;
---

<Layout title="El Rincón del Bocata | Restaurante ">
    <main class="mt-16">
        <nav>
            <ul>
                <MenuItem nombre="Tapas" , pagina="/test" foto="bravas.jpg"/>
                <MenuItem nombre="ensaladas" , pagina="/ensaladas" foto="ensaladas.jpg"/>
                <MenuItem nombre="torraetas" , pagina="/torraetas" foto="torraetas.jpg"/>
                <MenuItem nombre="sandwiches" , pagina="/sandwiches" foto="sandwiches.jpg"/>
                <MenuItem nombre="hamburguesas" , pagina="/hamburguesas" foto='hamburguesas.jpg'/>
                <MenuItem nombre="bocadillos" , pagina="/bocadillos" foto='bocadillos.jpg'/>
                <MenuItem nombre="platos combinados" , pagina="/platoscombinados" foto='platoscombinados.jpg'/>
                <MenuItem nombre="comida vegetariana / vegana" , pagina="/comidav" foto='comidav.jpg'/>
            </ul>
        </nav>
        
    </main>
</Layout>

<style>
</style>