---
import Layout from '../layouts/Layout.astro';
import MenuItem from '../components/MenuItem.astro' ;
---

<Layout title="El Rincón del Bocata | Restaurante ">
    <main class="mt-16">
        <nav>
            <ul>
                <MenuItem nombre="Tapas" , pagina="/carta/tapas" foto="bravas.jpg"/>
                <MenuItem nombre="ensaladas" , pagina="/carta/ensaladas" foto="ensaladas.jpg"/>
                <MenuItem nombre="torraetas" , pagina="/carta/torraetas" foto="torraetas.jpg"/>
                <MenuItem nombre="sandwiches" , pagina="/carta/sandwiches" foto="sandwiches.jpg"/>
                <MenuItem nombre="hamburguesas" , pagina="/carta/hamburguesas" foto='hamburguesas.jpg'/>
                <MenuItem nombre="bocadillos" , pagina="/carta/bocadillos" foto='bocadillos.jpg'/>
                <MenuItem nombre="platos combinados" , pagina="/carta/platoscombinados" foto='platoscombinados.jpg'/>
                <MenuItem nombre="comida vegetariana / vegana" , pagina="/carta/comidav" foto='comidav.jpg'/>
            </ul>
        </nav>
        
    </main>
</Layout>

<style>
</style>