---
import Layout from "../layouts/Layout.astro" ;
import Tapas from "../components/Tapas.astro";
import Ensaladas from '../components/Ensaladas.astro'
import Torraetas from '../components/Torraetas.astro'
---

<Layout title="El Rincón del Bocata | Restaurante">
    <main class="mt-20">
        <nav class="w-full overflow-auto flex gap-2 px-4">
                <button id="tapas" class="button border-2 rounded-full py-2 px-4 text-2xl transition">Tapas</button>
                <button id="ensaladas" class="button border-2 rounded-full py-2 px-4 text-2xl transition">Ensaladas</button>
                <button id="torraetas" class="button border-2 rounded-full py-2 px-4 text-2xl transition">Torraetas</button>
                <button id="torraetas" class="button border-2 rounded-full py-2 px-4 text-2xl transition">Sandiwches</button>
        </nav>
        <section id="tapasList" class="mt-4 hidden">
            <Tapas />
        </section>
        <section id="ensaladasList" class="mt-4 hidden">
            <Ensaladas />
        </section>
        <section id="torraetasList" class="mt-4 hidden">
            <Torraetas />
        </section>
        <section id="ensaladasList" class="mt-4 hidden">
            <Ensaladas />
        </section>
    </main>
</Layout>


<style>
    .button.active {
        background-color: #f97316;
        color: white;
    }
    nav {
        scrollbar-width: none;
    }
</style>

<script>
    const menu = document.querySelectorAll('button')
    const section = document.querySelectorAll('section')

    menu.forEach((item) => {
        item.addEventListener('click', () => {
            menu.forEach((item) => {
                item.classList.remove('active')
            })
            item.classList.toggle('active')
            section.forEach((id) => {
                id.classList.add('hidden')
            })
            document.querySelector(`#${item.id}List`)?.classList.toggle('hidden')
        })
    })

</script>

