---
import Layout from '../layouts/Layout.astro';
---

<Layout title="El Rincón del Bocata | Restaurante ">
    <main class="mt-20">
        <nav>
            <ul class="flex gap-2 overflow-auto items-center whitespace-nowrap py-4 px-2">
                <li><a class="border-2 py-1 px-4 rounded-full" href="/tapas">Tapas</a></li>
                <li><a class="border-2 py-1 px-4 rounded-full" href="/ensaladas">Ensaladas</a></li>
                <li><a class="border-2 py-1 px-4 rounded-full bg-orange-500 text-white" href="/torraetas">Torraetas</a></li>
                <li><a class="border-2 py-1 px-4 rounded-full" href="/sandwiches">Sandwiches</a></li>
                <li><a class="border-2 py-1 px-4 rounded-full" href="/hamburguesas">Hamburguesas</a></li>
                <li><a class="border-2 py-1 px-4 rounded-full" href="/bocadillos">Bocadillos</a></li>
                <li><a class="border-2 py-1 px-4 rounded-full" href="/platoscombinados">Platos Combinados</a></li>
                <li><a class="border-2 py-1 px-4 rounded-full" href="/comidavegetariana">Comida Vegetariana</a></li>
            </ul>
        </nav> 
    </main>
</Layout>

<style>
    ul {
        scrollbar-width: none;
    }
</style>
