---
import Layout from '../../layouts/Layout.astro';
import TapaItem from '../../components/TapaItem.astro';
---

<Layout title="El Rincón del Bocata | Restaurante ">
    <main>
        <section>
                <h1 class="text-3xl font-bold text-center uppercase sticky top-12 bg-white h-20 py-8 my-4">Tapas <hr class="my-4"></h1>
            <TapaItem id="1" nombre="patatas fritas" precio = '6.50' />
            <TapaItem id="2" nombre="patatas bravas" precio = '7.75' />
            <TapaItem id="3" nombre="patatas con bacon y salsa césar" precio = '9.00' />
            <TapaItem id="4" nombre="ensaladilla rusa" precio = '7.50' />
            <TapaItem id="5" nombre="calamares caseros" precio = '11.50' />
            <TapaItem id="7" nombre="sepia a la plancha con salsa verde" precio = '11.50' />
            <TapaItem id="10" nombre="pulpito con cebolla" precio = '11.00' />
            <TapaItem id="11" nombre="boquerones en vinagre" precio = '8.50' />
            <TapaItem id="12" nombre="croquetas de pollo (8 ud.)" precio = '9.00' />
            <TapaItem id="14" nombre="chapiñones con salsa verde" precio = '7.75' />
            <TapaItem id="15" nombre="revuelto de gambas, ajetes y trigueros" precio = '8.50' />
            <TapaItem id="17" nombre="tabla de jamón y queso" precio = '18.00' />
            <TapaItem id="18" nombre="carne en salsa de tomate y pimiento rojo" precio = '9.00' />
        </section>
    </main>
</Layout>
