<div id="ensaladasList"></div>
<template id="ensaladasTemplate">
    <article class="flex justify-between p-4 mt-4 items-center max-w-[800px] mx-auto">
        <div class="basis-4/5">
            <h2 class="text-xl font-semibold"></h2>
            <p class="italic"></p>
        </div>
        <p></p>
    </article>
    <hr class="w-1/4 mx-auto">
</template>

<script>
    // @ts-nocheck
    const ensaladas  = {
        'Ensalada de la casa' : {
            desc: 'Lechuga variada, tomate, zanahoria, remolacha, atún, maiz y huevo' ,
            precio: 12.50 ,
        } , 
        'Ensalada de queso de cabra' : {
            desc: 'Lechuga, queso de cabra, pasas, mermelada de tomate y vinagre balsámico' ,
            precio: 12.50 ,
        } , 
        'Ensalada César' : {
            desc: 'Lechuga, pechuga de pollo, queso y salsa césar' ,
            precio: 12.50 ,
        } , 
    } 
    const ensaladasList = document.querySelector('#ensaladasList')
    for (const key in ensaladas) {
        const clone = document.querySelector('#ensaladasTemplate').content.cloneNode(true)
        clone.querySelector('h2').innerHTML = key
        clone.querySelector('div p').innerHTML = `${ensaladas[key].desc}`
        clone.querySelector('article > p').innerHTML = `${ensaladas[key].precio.toFixed(2)} €`
        ensaladasList?.appendChild(clone)
    }
</script>