<div id="ensaladasList"></div>
<template id="ensaladasTemplate">
    <article class=" w-96 border-2 m-4 rounded-lg shadow-lg flex flex-col justify-evenly gap-8 items-center p-4">
        <img class="max-w-52 aspect-video" src="https://raw.githubusercontent.com/ssoare/elrincondelbocata/d51d0cc163682945f99bc17cf4725a006770571c/public/img/no-image.svg" alt="">
        <div class="flex justify-between items-center w-full">
            <div class="basis-4/5">
                <h2 class="text-xl font-semibold"></h2>
                <p class="desc italic text-gray-600"></p>
            </div>
            <p class="precio"></p>
        </div>
    </article>
</template>

<script>
    // @ts-nocheck
    const ensaladas  = {
        'Ensalada de la casa' : {
            id: 19 ,
            desc: 'Lechuga variada, tomate, zanahoria, remolacha, atún, maiz y huevo' ,
            precio: 12.50 ,
        } , 
        'Ensalada de queso de cabra' : {
            id : 20 ,
            desc: 'Lechuga, queso de cabra, pasas, mermelada de tomate y vinagre balsámico' ,
            precio: 12.50 ,
        } , 
        'Ensalada César' : {
            id: 22,
            desc: 'Lechuga, pechuga de pollo, queso y salsa césar' ,
            precio: 12.50 ,
        } , 
    } 
    const ensaladasList = document.querySelector('#ensaladasList')
    for (const key in ensaladas) {
        const clone = document.querySelector('#ensaladasTemplate').content.cloneNode(true)
        clone.querySelector('h2').innerHTML = `${ensaladas[key].id}. ${key}`
        clone.querySelector('.desc').innerHTML = `${ensaladas[key].desc}`
        clone.querySelector('.precio').innerHTML = `${ensaladas[key].precio.toFixed(2)} €`
        ensaladasList?.appendChild(clone)
        ensaladasList.classList.add('flex' , 'flex-wrap' , 'justify-center',)
    }
</script>