---
interface Props {
    id: string;
	nombre: string;
    precio: string ;
    descripcion: string;
}

const { id } = Astro.props;
const { nombre } = Astro.props;
const { precio } = Astro.props;
const { descripcion } = Astro.props;
---


<article class="flex items-center justify-between py-8 px-4">
    <div class="basis-4/5">
        <h2 class="text-xl font-semibold capitalize ">{id}. {nombre}</h2>
        <p class="italic">{descripcion}</p>
    </div>
    <p class="">{precio} €</p>
</article>