<div id="hamburguesasList"></div>
<template id="hamburguesasTemplate">
    <article class=" w-96 h-96 border-2 m-4 rounded-lg shadow-lg flex flex-col justify-evenly gap-8 items-center p-4">
        <img class="max-w-52 aspect-video" src="https://raw.githubusercontent.com/ssoare/elrincondelbocata/d51d0cc163682945f99bc17cf4725a006770571c/public/img/no-image.svg" alt="">
        <div class="flex justify-between items-center w-full">
            <div class="basis-4/5">
                <h2 class="text-xl font-semibold"></h2>
                <p class="desc italic text-gray-600"></p>
            </div>
            <p class="precio"></p>
        </div>
    </article>
</template>

<script>
    // @ts-nocheck
    const hamburguesas  = {
        'Hamburguesa, queso y huevo' : {id: 31, desc: '' , precio: 7 , } , 
        'Hamburguesa Especial' : {id: 33, desc: 'Lechuga, queso, bacon, tomate, cebolla frita y huevo' , precio: 8 , } ,
         'Hamburguesa Roquefort' : {id: 34, desc: 'Salsa roquefort, lechuga y bacon' , precio: 7.50 , } , 
    } 
    const hamburguesasList = document.querySelector('#hamburguesasList')
    for (const key in hamburguesas) {
        const clone = document.querySelector('#hamburguesasTemplate').content.cloneNode(true)
        clone.querySelector('h2').innerHTML = `${hamburguesas[key].id}. ${key}`
        clone.querySelector('.desc').innerHTML = `${hamburguesas[key].desc}`
        clone.querySelector('.precio').innerHTML = `${hamburguesas[key].precio.toFixed(2)} €`
        hamburguesasList.appendChild(clone)
        hamburguesasList.classList.add('flex' , 'flex-wrap' , 'justify-center',)
    }
</script>