---
interface Props {
    nombre: string;
    pagina: string;
    foto: string;
}

const { nombre , pagina , foto  } = Astro.props;
---

<li class="shadow-2xl max-w-[500px]"
style=`
background: linear-gradient(#00000050, #00000050), 
url(src/components/img/${foto}); 
background-size: cover;
background-position: center center`>
    <a 
    class="flex justify-center items-center h-52 my-4 text-white font-bold text-2xl capitalize" 
    href={pagina}    >
        {nombre}
    </a>
</li>

<style>
</style>


