---
interface Props {
    nombre: string;
    url: string;
    imagen: string;
}

const { nombre , url , imagen } = Astro.props;
---

<li 
style=`
background: linear-gradient(#00000050, #00000050), 
url(src/components/img/${imagen}); 
background-size: cover;
background-position: center`>
    <a 
        class="flex border-2 justify-center items-center h-40 my-4 text-white font-bold text-2xl capitalize" 
        href={url}
    >
        {nombre}
    </a>
</li>



