<div id="platosCombinadosList"></div>
<template id="platosCombinadosTemplate">
    <article class=" w-96 border-2 m-4 rounded-lg shadow-lg flex flex-col justify-evenly gap-8 items-center p-4">
        <img 
        class="max-w-52 aspect-video" 
        src="https://raw.githubusercontent.com/ssoare/elrincondelbocata/d51d0cc163682945f99bc17cf4725a006770571c/public/img/no-image.svg" alt="">
        <div class="flex justify-between items-center w-full">
            <div class="basis-4/5">
                <h2 class="text-xl font-semibold"></h2>
                <p class="desc italic text-gray-600"></p>
            </div>
            <p class="precio"></p>
        </div>
    </article>
</template>

<script>
    // @ts-nocheck
    const platosCombinados  = {
        'Lomo, bacon, huevo y patatas' : {id: 64, desc: '' , precio: 11.50 , } , 
        'Pechuga, huevo y patatas' : {id: 66, desc: '' , precio: 11.50 , } , 
        'Secreto ibérico y patatas' : {id: 72, desc: '' , precio: 12.50 , } , 
        'Chuletas de cordero y patatas' : {id: 73, desc: '' , precio: 17 , } , 
        'Entrecot de ternera y patatas' : {id: 75, desc: '' , precio: 17.50 , } , 
        'Sepia a la plancha con salsa verde' : {id: 78, desc: '' , precio: 16 , } , 
        'Emperador a la plancha con salsa verde' : {id: 79, desc: '' , precio: 16 , } , 
                
    } 
    const platosCombinadosList = document.querySelector('#platosCombinadosList')
    for (const key in platosCombinados) {
        const clone = document.querySelector('#platosCombinadosTemplate').content.cloneNode(true)
        clone.querySelector('h2').innerHTML = `${platosCombinados[key].id}. ${key}`
        clone.querySelector('.desc').innerHTML = `${platosCombinados[key].desc}`
        clone.querySelector('.precio').innerHTML = `${platosCombinados[key].precio.toFixed(2)} €`
        platosCombinadosList?.appendChild(clone)
        platosCombinadosList.classList.add('flex' , 'flex-wrap' , 'justify-center',)

    }
</script>