<div id="sandwichesList"></div>
<template id="sandwichesTemplate">
    <article class="flex justify-between p-4 mt-4 items-center">
        <div class="basis-4/5">
            <h2 class="text-xl font-semibold"></h2>
            <p class="italic"></p>
        </div>
        <p></p>
    </article>
    <hr class="w-1/4 mx-auto">
</template>

<script>
    // @ts-nocheck
    const sandwiches  = {
        'Sandwich mixto' : {
            desc: 'Jamón York y queso' ,
            precio: 5 ,
        } , 
        'Sandwich de atún' : {
            desc: 'Atún, lechuga, tomate, huevo y mayonesa' ,
            precio: 6.50 ,
        } , 
        'Sandwich César' : {
            desc: 'Pechuga de pollo, lechuga, queso y salsa césar' ,
            precio: 7 , 
        } , 
    } 
    const sandwichesList = document.querySelector('#sandwichesList')
    for (const key in sandwiches) {
        const clone = document.querySelector('#sandwichesTemplate').content.cloneNode(true)
        clone.querySelector('h2').innerHTML = key
        clone.querySelector('div p').innerHTML = `${sandwiches[key].desc}`
        clone.querySelector('article > p').innerHTML = `${sandwiches[key].precio.toFixed(2)} €`
        sandwichesList?.appendChild(clone)
    }
</script>