<div id="sandwichesList"></div>
<template id="sandwichesTemplate">
    <article class=" w-96 border-2 m-4 rounded-lg shadow-lg flex flex-col justify-evenly gap-8 items-center p-4">
        <img class="max-w-52 aspect-video" src="https://raw.githubusercontent.com/ssoare/elrincondelbocata/d51d0cc163682945f99bc17cf4725a006770571c/public/img/no-image.svg" alt="">
        <div class="flex justify-between items-center w-full">
            <div class="basis-4/5">
                <h2 class="text-xl font-semibold"></h2>
                <p class="desc italic text-gray-600"></p>
            </div>
            <p class="precio"></p>
        </div>
    </article>
</template>

<script>
    // @ts-nocheck
    const sandwiches  = {
        'Sandwich mixto' : { id:  27, desc: 'Jamón York y queso' , precio: 5 , } , 
        'Sandwich de atún' : { id: 28, desc: 'Atún, lechuga, tomate, huevo y mayonesa' , precio: 6.50 , } , 
        'Sandwich César' : { id: 30, desc: 'Pechuga de pollo, lechuga, queso y salsa césar' , precio: 7 , } , 
    } 
    const sandwichesList = document.querySelector('#sandwichesList')
    for (const key in sandwiches) {
        const clone = document.querySelector('#sandwichesTemplate').content.cloneNode(true)
        clone.querySelector('h2').innerHTML = `${sandwiches[key].id}. ${key}`
        clone.querySelector('.desc').innerHTML = `${sandwiches[key].desc}`
        clone.querySelector('.precio').innerHTML = `${sandwiches[key].precio.toFixed(2)} €`
        sandwichesList?.appendChild(clone)
        sandwichesList.classList.add('flex' , 'flex-wrap' , 'justify-center',)
    }
</script>