<div id="tapasList"></div>

<template id="tapasTemplate"> 
    <article class="flex justify-between p-4 mt-4 items-center">
        <h2 class="text-xl font-semibold basis-4/5"></h2>
        <p></p>
    </article>
    <hr class="w-1/4 mx-auto">
</template>

<script>
    // @ts-nocheck
    const tapas  = {
        'Patatas fritas' : 6.50 ,
        'Patatas bravas' : 7.75 ,
        'Patatas con bacon y salsa césar' : 9.00 ,
        'Ensaladilla rusa' : 7.50 ,
        'Calamares (caseros)' : 11.50 ,
        'Sepia a la plancha con salsa verde' : 11.50 ,
        'Puplito con cebolla' : 11 ,
        'Boquerones en vinagre' : 8.50 ,
        'Croquetas de pollo (8 ud.)' : 9 ,
        'Champiñones con salsa verde' : 7.75 ,
    } 
    const tapasList = document.querySelector('#tapasList')
    for (const key in tapas) {
        const clone = document.querySelector('#tapasTemplate').content.cloneNode(true)
        clone.querySelector('h2').innerHTML = key
        clone.querySelector('p').innerHTML = `${tapas[key].toFixed(2)} €`
        tapasList?.appendChild(clone)
    }
</script>