<div id="torraetasList"></div>

<template id="torraetasTemplate"> 
    <article class=" w-96 h-80 border-2 m-4 rounded-lg shadow-lg flex flex-col justify-evenly gap-8 items-center p-4">
        <img class="max-w-52 aspect-video" src="https://raw.githubusercontent.com/ssoare/elrincondelbocata/d51d0cc163682945f99bc17cf4725a006770571c/public/img/no-image.svg" alt="">
        <div class=" flex justify-between w-full items-center">
            <h2 class="basis-4/5 text-xl font-semibold"></h2>
            <p></p>
        </div>
    </article>
</template>

<script>
    // @ts-nocheck
    const torraetas  = {
        'Jamón a la placha y tomate' : { id: 23 , precio: 7 , } ,
        'Sobrasada y queso' : { id: 24 , precio: 7 , } ,
        'Anchoas y pimenton' : { id: 24, precio: 7 , } ,
        'Queso fresco y salmón' : { id: 25 , precio: 7 , } ,
    } 
    const torraetasList = document.querySelector('#torraetasList')
    for (const key in torraetas) {
        const clone = document.querySelector('#torraetasTemplate').content.cloneNode(true)
        clone.querySelector('h2').innerHTML = `${torraetas[key].id}. ${key}`
        clone.querySelector('p').innerHTML = `${torraetas[key].precio.toFixed(2)} €`
        torraetasList.appendChild(clone)
    }
</script>